/* Bootstrap CSS Stylesheet */
@import "./bootstrap.css";

body{
    width: 100%;
    margin: auto;
    padding:60px 0px;
}
a{
    display: block;
    text-decoration: none;
}
ul, li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
/* left  nav */
    

.left{
    
    /*
    float: left;
    width: 360px;
    height: 800px;
    border-style: solid;
    border-color: red;
    */
}



.left img{
    margin-bottom: 20px;
    /*
    width: 150px;
    height: auto;
    margin-left: 115px;
    margin-bottom: 30px;
    */
}

.nav{
    color:#000;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 0px;
    margin-left: 40px;
    /*
        margin-left: 130px;
    */
}

.block{
    width: 5px;
    height: 24px;
    background-color:tomato;
    float: left;
    border-radius: 1px;
    margin-top: 22px;
    margin-left: 20px;
    /*

    
    */
}
/* left  nav end */

/*                 another left&right                 */
.left_01{
    /*
    width: 150px;
    height: 800px;
    float: left;
    border-style: solid;
    border-color: red;
    */
}
.left_01 .nav{
    color:#000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    padding: 20px 0px;
    text-decoration: none;
    /*
    padding: 20px 0px;
    margin-left: 40px;
    */
}
.left_01 .block{
    width: 5px;
    height: 24px;
    background-color:tomato;
    float: left;
    margin-left: 20px;
    margin-top: 22px;
    border-radius: 1px;
}
.right_01{
    padding-left: 60px; 
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
    /*
    height: 800px;
    */
}
.add_header{
    height: 50px;
    /*
    width: 1280px;
    */
}
.img_header{
    width: 40px;
    height: 40px;
    float: right;
    display: block;
    margin-right: 20px;
}
/*
.icons{
    padding-right: 100px;
}
*/
.icons li{
    float: right;
}
.icons img{
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-right: 20px;
}
.icons_01 img{
    width: 26px;
    height: 26px;
    margin-top: 8px;
}


/*               another left&right    end                        */

/* right main */
.right{
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 50px;
    /*
    float: left;
    width: 900px;
    height: 800px;
    background-color:rgb(230, 230, 230);
    border-style: solid;
    border-color: green;
    */
}
/* end */

/* home right */
.header, .middle, .bottom{
    padding: 0px 20px 0px 20px;
}
.header{
    margin-top: 50px;
}
.text_highlight{
    color: tomato;
}
.header p{
    font-size: 18px;
}
.display{
    height: auto;
    margin-top: 40px;
}
.display img{
    float: left;
    width: 190px;
    height: 190px;
    margin-right: 20px;
    border-radius: 1px;
}

.home_btn li{
    width:160px;
    height: auto;
    float: left;
    margin-top: 40px;
}
.btn_01, .btn_02{
    font-size: 16px;
    text-align: center;
    margin-right: 20px;
    padding: 15px 0px 15px 0px;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.btn_01{
    background-color: black;
    color: white;
}
.btn_02{
    color: black;
    border-width: 2px;
}
/* home right end*/

/* resume right */
.right h1{
    font-size: 40px;
}
.edu, .exp{
    margin-bottom: 30px;
}
.cv_title{
    float: left; 
    margin-top: 10px;  
}
.edu .cv_title{
    margin-right: 50px;
    height: 300px;
}
.cv, .skill_box{
    padding-top: 20px;
}
.cv span{
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
.exp .cv_title{
    height: 700px;
    margin-right: 40px;
}
.skill .cv_title{
    height: 300px;
    margin-right: 106px;
}
.skill_box{
    float: left;
    margin-right: 50px;
}
.sub_title{
    font-weight: bold;
}
.skill_box td{
    padding: 10px;
}
/* resume right end */


/* portfolio right */
.work_nav{
    height: 50px;
    margin-bottom: 10px;
}
.work_nav li{
    float: left;
    margin-top: 10px;
}
.work_nav li a{
    padding: 10px;
    color: rgb(100, 100, 100);
    font-size: 18px;
}
.current{
    color: black;
}
.line{
    float: left;
    display: block;
    color: rgb(185, 185, 185);
    padding: 10px;
}

.work_box{
    padding-top: 30px;
}

.work_box li{
    float: left;
    margin-bottom: 20px;
    font-weight: bold;
}
/*
.work_box img{
    width: 300px;
    height: 200px;
    border-style: solid;
    border-color: rgb(231, 231, 231);
    border-width: 1px;
}
*/
.work img{
    height: auto;
    border-radius: 2px;
}

/* portfolio right end */

/* blog right */
.blog_box li{
    margin: 30px 10px;
    border-bottom: 1px solid rgb(231, 231, 231);
}
.blog_box li a{
    color: black;
}
.blog_box li p{
    color: gray;
}
/* blog right end */

/* contact right */
.right form{
    padding-left: 5px;
}
.right form input{
    margin-right: 10px;
}
#name, #email{
    width: 260px;
    height: 40px;
    padding-left: 10px;
    margin-right: 10px;
}
#message{
    padding-left: 10px;
    padding-top: 10px;
    width: 552px;
    height: 100px;
}
#button_submit{
    width: 160px;
    height: 50px;
    border-style: none;
    background-color:black;
    color: white;
    border-radius: 2px;
    font-size: 16px;

}


/* contact right end */


